@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

/*Header styling*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6e3;
    box-shadow: 0 5px 15px rgba(0, 0,0,0.06);
    position: sticky;
    top:0;
    left: 0;
    z-index: 999;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header #mobile-menu{
  display: none;
  align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3ms ease;
}
#shopping-bag i{
  font-size: 22px;
}
#navbar li a:hover,
#navbar li a.active,
#navbor li i.active{
    color: hsl(176, 88%, 27%);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    height: 2px;
    width: 30%;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 22px;
}

/* Hero Section styling*/
#hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url(img/button.png);
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* Feature Section styling*/
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .feature-box{
    width: 180px;
    text-align: center;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius: 4px;
    padding: 25px 15px;
    margin :15px 0;
}
#feature .feature-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .feature-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1 );
}
#feature .feature-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color :#088178;
    background-color: #fddde4;
}
#feature .feature-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .feature-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .feature-box:nth-child(4) h6{
  background-color: #cdd4f8
}
#feature .feature-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .feature-box:nth-child(6) h6{
  background-color: #fff2e4;
}
/* Products Section Styling*/
#product1{
  text-align: center;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2ms ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .desciption{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .desciption span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .desciption h5{
  color: #1a1a1a;
  font-size: 14px;
  padding-top: 7px; 
}
#product1 .pro .desciption i{
  font-size: 12px;
  color: rgb(243,181,25);
}
#product1 .pro .desciption h4{
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .shopping-icon{
  width: 40px;
  height:  40px;
  line-height: 40px;
  border: 1px solid #cdebbc;
  border-radius: 50px;
  background-color: #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
/*Styling bannar section*/
#bannar{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
#bannar h4{
  color: #fff;
  font-size: 16px;
}
#bannar h2{
  color: #fff;
  font-size: 30px;
  padding: 1px 0;
}
#bannar h2 span{
  color: red;
}
#bannar button:hover{
  background-color: #088178;
  color: #fff;
}
/* New arrival section*/
#sm-bannar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
#sm-bannar .bannar-box{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(img/banner/b17.jpg);
  min-width: 48%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
#sm-bannar .bannar-box2{
  background-image: url(img/banner/b10.jpg);
}
#sm-bannar h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-bannar h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-bannar span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-bannar .bannar-box:hover button{
  background-color: #088178;
  border: 1px solid #088178;
}
#bannar3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#bannar3 .bannar-box{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
}
#bannar3 .bannar-box2{
  background-image: url(img/banner/b4.jpg);
}
#bannar3 .bannar-box3{
  background-image: url(img/banner/b18.jpg);
}
#bannar3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#bannar3 h3{
  color: #e96f6f;
  font-weight: 800;
  font-size: 15px;
}
/*News Letter section*/
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .form{
  display: flex;
  width: 40%;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span{
  color: #ffdb27;
}
#newsletter input{
  height: 3.12rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*footer Section*/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom:20px ;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #222;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow .i:hover,
footer a:hover{
  color: #088178;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
#header .mobile-menu{
  display: none;
}
#close-icon{
  display: none;
  align-items: center;
}

/* Disigning shopping page*/

#page-header{
  background-image: url(img/banner/b1.jpg);
  height: 40vh;
  width: 100%;
  display: flex;  
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 14px;
}
#page-header h2,
  #page-header p{
    color: #fff;
}
#pagination{
  display: flex;
  justify-content: center;
  text-align: center;
}
#pagination a{
  background-color: #088178;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
  margin-left: 2px;
}

/*single Product(sproduct) page style*/
#pro-details{
  display: flex;
  margin-top: 20px;
  
}
#single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-colum{
  width: 24%;
  cursor: pointer;
}
.single-pro-details{
  width: 50%;
  padding: 30px;
}
.single-pro-details h4{
  padding: 40px 0 20px 0;
}
.single-pro-details h2{
  font-size: 26px;
}
.single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}
.single-pro-details input:focus{
  outline: none;
}
.single-pro-details button{
  color: #fff;
  background: #088178;
}
.single-pro-details span{
  line-height: 25px;
}

/*Blog page Styling*/
#page-header.blog-header{
  background-image: url(img/banner/b19.jpg);
}
#blog-page{
  padding: 150px 150px 0 150px;
}
#blog-page .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 80px;
}
#blog-page .blog-img{
  width: 50%;
  margin-right: 40px;
  
}
#blog-page img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blog-details{
  width: 50%;
}
.blog-details a{
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  position: relative;
  transition: 0.3s;
}
.blog-details a::after{
  content: "";
  width: 45px;
  height: 2px;
  background: #000;
  top: 4px;
  right: -60px;
  position: absolute;
}
.blog-details a:hover::after{
  background:#088178;
}
.blog-details a:hover{
  color: #088178;
}
#blog-page h1{
  position: absolute;
  color:#818ea0;
  top: -35px;
  left: 0;
  font-size: 80px;
  font-weight: 700;
  z-index: -9;
}
/*About Page styling*/

#page-header.about-header{
  background-image:url(img/about/banner.png);
  background-size: cover;
}
#about-head{
  display: flex;
  align-items: center;
}
#about-head img{
  width: 50%;
  height: auto;
}
#about-head .about-details{
  padding-left:40px ;
}

#about-app{
  text-align: center;
  }
#about-app .video{
  width: 70%;
  height: 100%;
  margin:30px auto 0 auto;
  
}
#about-app .video video{
  width: 100%;
  height: 100%;
}
/*contact page disign and styling*/
#contact-details{
  display: flex;
  justify-content: space-between;
}
#contact-details .details{
  width: 40%;
}
#contact-details .details span,
#form-details form span{
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details li i{
  font-size: 14px;
  padding-right: 22px;
}
#contact-details li p{
  font-size: 14px;
  margin: 0;
}
#contact-details .map{
  width: 55%;
  height: 400px;
}
#contact-details .map iframe{
  width: 100%;
  height: 100%;
}

#form-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin: 30px;
  padding: 80px;
}
#form-details form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}
#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #e1e1e1;
}
#form-details form button{
  background: #088178;
  color: #fff;
}
#form-details .people div{
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img{
  width: 65px;
  height: 65px;
  background-size: cover;
  margin-right: 20px;
}
#form-details .people div p{
  font-size: 13px;
  margin: 0;
  line-height: 25px;
}
#form-details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
/*Cart page Styling*/
#cart-page{
  overflow-x: auto;
}
#cart-page table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  white-space: nowrap;
}
#cart-page table img{
  width: 70px;
}
#cart-page table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart-page table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart-page table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart-page table td:nth-child(4),
#cart-page table td:nth-child(5),
#cart-page table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cart-page table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart-page table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart-page table thead td{
  font-weight: 700;
  font-size:13px;
  text-transform: uppercase;
  padding: 18px 0;
}
#cart-page table tbody tr td{
  padding-top: 15px;
}
#cart-page table tbody td{
  font-size: 13px;
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 10px 20px;
  width: 60%;
  outline: none;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button{
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#subtotal{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 30px;
  margin-bottom: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  font-size: 13px;
  border: 1px solid #e2e9e1;
  padding: 10px;
}
#subtotal button{
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}











































@media(max-width:900px){
   /*Styling Bloge page for large Tablet */
 #blog-page {
  padding: 80px 60px 0px 60px;
  }
  #page-header.blog-header {
    background-size: cover;
    background-position: top 10% right 0;
  }
  /* Making responsive the index page*/
  #sm-bannar .bannar-box {
    min-width: 100%;
    height: 40vh;
}
#bannar3 .bannar-box {
  min-width: 100%;
  height: 20vh;
}
#newsletter .form {
  width: 80%;
}
}




/*Start Media Query Styling*/
@media(max-width:799px){
  .section-p1{
    padding: 40px 40px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 40%;
    background-color: #e3e6e3;
    padding: 100px 0 0 10px;
    transition: 0.5s;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
   #header #mobile-menu{
    display: flex;
    align-items: center;
  }
  #mobile-menu i{
    padding-left: 20px;
    font-size: 24px;
  }
  #close-icon{
    display: initial;
    color: #222;
    font-size: 20px;
    top: 50px;
    left: 40px;
    position: absolute;
  }
  #shopping-bag{
    display: none;
  }
  #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 35%;
  }
  #feature{
    justify-content: center;
  }
  #feature .feature-box{
    margin: 15px 15px;
  }
  #product1{
    text-align: center;
  }
  #product1 .pro-container{
    justify-content: center;
  }
  #product1 .pro{
    margin: 15px;
  }
  #bannar {
  height: 20vh;
  }
  #sm-bannar{
    justify-content: center;
  }
  #sm-bannar .bannar-box {
    min-width: 90%;
    height: 30vh;
    padding: 30px 40px;
  }
  #bannar3{
    padding: 0 40px;
  }
  #bannar3 .bannar-box {
    width: 28%;
  }
  #newsletter .form{
    width: 70%;
  }
   /*Styling Bloge page for Tablet */
 #blog-page {
  padding: 80px 50px 0px 50px;
  }
  #page-header.blog-header {
    background-size: cover;
    background-position: top 10% right 0;
  }
  /*Making contact page responsive*/
  #form-details {
    padding: 40px;
  }
  #form-details form{
    width: 50%;
    align-items: start;
  }

}




/*Small Mobile Styling*/

@media(max-width:477px){
  #header{
    padding: 10px 50px;
  }
  h2{
    font-size: 32px;
  }
  h1{
    font-size: 38px;
  }
  #hero {
    padding: 0 20px;
    background-position: 50%;
  }
  .section-p1 {
    padding: 20px;
  }
  #feature{
    justify-content: space-between;
  }
  #feature .feature-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #bannar {
    height: 40vh;
  }
  #sm-bannar .bannar-box2{
    margin-top: 20px;
  }
  #bannar3{
    padding: 0 20px;
  }
  #bannar3 .bannar-box{
    width: 100%;
  }
  #newsletter{
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
 }
 footer .copyright {
  text-align: start;
  }


  /* styling single product page(sproduct page)*/
  #pro-details {
    display: flex;
    flex-direction: column;
  }
  #single-pro-image {
    width: 100%;
  }
  .single-pro-details {
    width: 100%;
  }

  /*Styling Bloge page for Small Mobile */
  #page-header.blog-header {
    background-size: cover;
    background-position: top 10% right 0;
  }
  .section-p1 {
    padding: 40px 20px;
  }
  #blog-page {
    padding: 50px 20px 0px 20px;
  }
  #blog-page .blog-box {
    width: 100%;
    flex-direction: column;
 }
 #blog-page h1{
  font-size: 60px;
  font-weight: 800;
 
}
#blog-page .blog-img {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
}
#blog-page img {
 align-self: center;
}
.blog-details {
  width: 100%;
}
/* Make About Page Responsive for Mobile Device*/
#about-head {
  display: flex;
  flex-direction:column;
}
#about-head img {
  width: 100%;
  height: auto;
}
#about-head .about-details {
  padding-top: 30px;
  padding-left: 0;
}
#about-app .video{
  width: 100%;
}
/*Contact page styling*/
#contact-details {
  flex-direction: column;
}
#contact-details .details {
  width: 100%;
}
#contact-details .map {
  width: 100%;
  height: 250px;
}
#form-details {
  margin: 20px 20px;
  padding: 20px;
  flex-direction: column;
}
#form-details form {
  width: 100%;
  margin-bottom: 40px;
}
/*Making responsive the Cart page*/
#cart-add {
  flex-direction: column;
}
#coupon {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#coupon input {
  width: 70%;
}
#coupon div{
  display:flex;
  justify-content: center;
}
#subtotal {
  width: 100%;
  
}
}
























































